机器学习工程师-2019届(J15390)
关闭女 职能
岗位介绍
1、评估项目收益和KPI，利用模型算法改善业务KPI指标；
2、优化和改进算法模型，提升precision & recall；
3、设计模型数据的检验方案，指导数据检验和异常侦测工作，提高系统防风险能力；
4、编写算法说明书、与架构师一起设计模型植入系统的接口；
5、本职位有三个方向：机器学习、图像识别、自然语言。

欢迎关注官方微信公众号：携程校园招聘
官方校招QQ群：314810731、545235287、529598646、278735052、541803697（添加任意一个即可）

我们寻找这样的你
招聘对象：2019年毕业，计算机或相关专业硕、博。

1、有机器学习/人工智能实习或实践经验；
2、在以下至少一个领域有深入的研究；
a)统计/机器学习（回归(Logistic)，聚类，时间序列，分类树，Boosting，SVM，Random Forest，神经网络等）；
推荐算法 （Collaborative Filtering, SVD++）；
b)文本挖掘和语义分析(Naive Bayes, LDA, 知识图谱表示，结构化预测，语义解析，信息检索，知识挖掘等）
3、熟悉和掌握算法模型训练软件之一(如R, SAS, SPSS,或者matlab等）；
4、熟练下列数据库查询之一Hive、SQL Server、Oracel、MySQL、或者Teradata等；
5、良好的逻辑思维能力，能够从海量数据中发现有价值的规律；
6、不惧困难，面临挑战充满激情，面临挫折充满斗志，面临质疑临危不惧；
7、具有良好的沟通能力，和良好的团队合作精神；

有如下经验/能力者优先：
1、有数学建模竞赛获奖；
2、Linux环境/Shell命令；
3、分布式计算Hadoop/hive/spark等相关技术；
4、基于集群的机器学习Spark ML、Mahout、或者R-Hadoop；
5、熟悉一种编程语言（Java、Python，或者Perl）。

算法工程师-2019届(J15378)
关闭女 业务
岗位介绍
1、协助项目技术核心/负责人跨部门合作，高质量完成交付；
2、协助设计复杂NLP、NLG或推荐问题算法，给出整体解决方案；
3、协助设计、挖掘和构建支撑智能化客服的效用知识、知识推理和智能对话应答体系。

欢迎关注官方微信公众号：携程校园招聘
官方校招QQ群：314810731、545235287、529598646、278735052、541803697（添加任意一个即可）

我们寻找这样的你
招聘对象：2018年毕业，计算机或相关专业硕、博。

1、对数据挖掘、信息检索、深度学习等领域有较深理论背景；
2、熟悉一门编程语言(Java\python\R等)，对数据结构和算法设计有较为深刻理解；
3、精通Java/C++/Python/Perl任意一种语言，熟练掌握SQL/Hive；
4、良好的数据分析能力，能够从数据中发现规律；
5、熟悉Linux环境/Shell命令；
6、熟悉分布式计算Hadoop/hive/Spark/Map-Reduce等相关技术；
7、至少能保证暑期7、8月份在公司实习。（通过实习考核即签三方）

##
360
应届生-人工智能-自然语言处理|机器学习|数据挖掘工程师人工智能北京 详情
职位描述：

1.研究业界领先的自然语言处理技术(如DNN、RNN、CNN等)；
2.从事基于Deep Learning的自然语言处理基础技术的研发，以及问答系统，对话AI的研发工作。

任职要求：

1.熟悉并理解自然语言处理的各个子任务，如分词、词性标注、组块分析、句法分析等；
2.对深度学习有一定了解，有模型实现和参数调优经验者优先；
3.有较强的代码能力，熟悉C/C++以及基本的脚本语言编程；
4.良好的沟通能力和团队合作精神；
5.加分项：有文本挖掘、分类、聚类、问答系统、知识图谱、对话系统实际项目经验。

应届生-安全研究院-大数据算法工程师安全研究院北京 详情
职位描述：

你可以在机器学习、深度学习、大数据处理等广阔技术空间里充分发挥自己的能力，并应用在各个产品线上。

任职要求：

1.对深度学习算法RNN，CNN，LSTM等有一定的了解或者熟悉机器学习算法 LR，GBDT，FM中的一项；
2.有较好的c/c++ 或者 java 或者python的编程能力；
3.优秀的学习能力和沟通能力；
4.对大数据技术有了解的是加分项
5.对Tensorflow有了解和应用的是加分项；
6.计算机或者统计及相关专业研究生及以上学历，有一定的编程能力；
7.熟悉Linux系统，能在Linux系统环境下完成开发；
8.强烈的责任意识，工作认真细致，服从工作安排，能够承担一定工作压力，学习新技术能力强。

##
